@import "responsive";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;

  .main {
    .menu {
      width: 20rem;
      height: 20rem;
      margin: auto;
      margin-top: 10rem;

      form {
        display: flex;
        width: 100%;
        height: 100%;

        input {
          margin: auto;
          width: 10rem;
          height: 5rem;
          border-radius: 10%;
          font-size: 2rem;
          cursor: pointer;
          color: #fff;
          background-color: #c10800;
          border: none;
          outline: 0;
          transition: ease 0.8s;
        }

        input:hover {
          background-color: #3a0202;
          font-size: 2.5rem;
          transition: ease 0.8s;
        }
      }
    }

    .game {
      display: none;
      margin-top: 2rem;

      .counters {
        display: flex;
        margin: auto;
        justify-content: space-between;
        font-size: 2rem;
        width: 60%;

        #point-form {
          display: flex;

          input {
            font-size: 2rem;
            margin: auto;
            border: none;
            width: 5rem;
            height: 100%;
            margin-top: 0.15rem;
            margin-left: 1rem;
          }
        }

        #timer-form {
          display: flex;

          input {
            font-size: 2rem;
            margin: auto;
            border: none;
            width: 1.5rem;
            height: 100%;
            margin-top: 0.15rem;
            margin-left: 1rem;
          }
        }
      }

      .boxes {
        display: flex;
        flex-direction: row;
        column-count: 3;
        flex-wrap: wrap;
        margin: auto;
        width: 60%;
        height: 33rem;
        border: 0.1rem solid black;
        box-sizing: border-box;

        .box {
          .button {
            width: 100%;
            height: 100%;
            background-color: rgb(207, 50, 212);
            cursor: pointer;
            outline: 0;
          }
        }

        #box1 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box2 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box3 {
          visibility: hidden;
          width: 33.4%;
          height: 33.3%;
        }
        #box4 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box5 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box6 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box7 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box8 {
          visibility: hidden;
          width: 33.3%;
          height: 33.3%;
        }
        #box9 {
          visibility: hidden;
          width: 33.4%;
          height: 33.3%;
        }
      }
    }

    .end-game {
      display: none;
      height: 41rem;
      background: rgb(36, 0, 0);
      background: linear-gradient(
        90deg,
        rgba(36, 0, 0, 1) 0%,
        rgba(198, 94, 112, 1) 100%
      );
      align-items: center;
      justify-content: center;
      font-size: 3rem;

      .point {
        text-align: center;
        letter-spacing: 0.5rem;
      }
    }
  }
}
